/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$background_color: #4c4c4c;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@font-face {
    font-family: 'Rubik-Regular';
    src: url("#{$ionicons-font-path}/Rubik-Regular.eot");
    src: url("#{$ionicons-font-path}/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$ionicons-font-path}/Rubik-Regular.woff") format("woff"),
    url("#{$ionicons-font-path}/Rubik-Regular.ttf") format("truetype"),
    url("#{$ionicons-font-path}/Rubik-Regular.svg#lovely") format("svg");
}


/**
*pop over
**/

.more-options {
    background-color: rgba(255, 255, 255, 0.8);
    .content {
        text-align: center;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0;
        margin-top: 5vw;
        ul {
            li {
                .popup {
                    /*height: 80%;*/
                    /*width: 82%;*/
                    width: 53vh;
                    position: relative;
                }
                .skip_btn {
                    height: 40px;
                    position: absolute;
                    bottom: 12vw;
                    left: 22%;
                    vertical-align: middle;
                }
            }
        }
    }
}


/*.button.button-positive {
    border-color: transparent;
    background-color: #2e2354;
    color: #fff;
}*/

.more-options_logOut {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    .content {
        background-image: url('../img/back1.png');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0;
        /*margin-top: 5vw;*/
        .cross {
            height: 40px;
            width: 40px;
            float: left;
            padding: 10px;
        }
        ul {
            list-style: none;
            /* position: absolute;
            bottom: -10px;*/
            li {
                .popup {
                    height: 80%;
                    width: 80%;
                }
                p {
                    position: absolute;
                    top: 40%;
                    left: 20%;
                    margin: auto;
                    font-size: 20px;
                    color: white;
                }
                button {
                    width: 100%;
                    position: absolute;
                    bottom: -10px;
                    height: 60px;
                    font-size: 23px;
                    font-weight: bold;
                }
            }
        }
    }
}


/**
*Heasder
**/

.home_header {
    /*height: 10vh;*/
    height: 60px;
    position: relative;
    padding-top: 0px;
    text-align: center;
    background-color: #ffca47;
    .home_menu {
        float: left;
        height: 40px;
        width: 40px;
        /*height: 10vh;*/
        /*width: 10vh;*/
        background-image: url(../img/Menu.png);
        background-size: 20px;
        /*background-size: 4vh;*/
        background-repeat: no-repeat;
        background-position: 10px bottom;
        /*background-position: center;*/
    }
    .leftarrow {
        float: left;
        /*height: 10vh;*/
        /*width: 10vh;*/
        height: 40px;
        width: 40px;
        background-image: url(../img/leftarrow.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 10px bottom;
    }
    .leftarrow_notification {
        @extend .leftarrow;
        background-image: url(../img/leftarrow1.png);
    }
    .heading_notify {
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
        position: relative;
        font-size: 20px;
        line-height: 10vh;
        right: 0;
        width: 60vw;
        left: 0;
        margin: auto;
    }
    .cross {
        float: left;
        height: 40px;
        width: 40px;
        /*height: 10vh;*/
        /*width: 10vh;*/
        background-image: url(../img/cross.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 10px bottom;
    }
    .gift_logo {
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-position: top;
        /* background-size: 25vh; */
        height: 12vw;
        /* width: 26vh; */
        width: 45vw;
        background-size: 145px;
        padding-top: 40px;
        vertical-align: middle;
        display: inline-block;
        margin: auto;
        /* padding-top: 8vh; */
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .alert {
        float: right;
        height: 40px;
        width: 40px;
        /*height: 10vh;*/
        /*width: 10vh;*/
        background-position: 10px bottom;
        background-size: 20px;
        background-image: url(../img/notification.png);
        background-repeat: no-repeat;
    }
}


/**
*footer
*/

.footer_tab {
    width: 100%;
    /*height: 8vh;*/
    height: 55px;
    background: #da3f52;
    bottom: 0;
    position: absolute;
    li {
        float: left;
        position: relative;
        width: 33.3%;
        color: #fff;
        height: 100%;
        text-align: center;
        line-height: 3vw;
        display: inline-block;
        padding: 8px;
        &.active_tab_footer {
            /*background-color: #252525;*/
            /*color: #353535;*/
            border-bottom: 2px solid #ffca47;
        }
        .footer-img {
            width: 23px;
            height: 23px;
            display: block;
            margin-left: 11vw;
            margin-right: 12vw;
            margin-bottom: 1vw;
        }
    }
}


/**
 * Screens CSS
 */

.signin {
    /*background-color: $background_color;*/
    .content {
        /*padding-top: 40px;*/
        /*text-align: center;*/
        background-image: url('../img/back1.png');
        background-size: cover;
        background-repeat: no-repeat;
        /*#logo {
            width: 60px;
        }
        #app_name {
            font-size: 20px;
            text-align: center;
        }*/
        .login_box {
            width: 100%;
            margin: auto;
            position: absolute;
            bottom: -4px;
            figure {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.home {
    /*background-color: $background_color;*/
    .search {
        /*height: 7vh;*/
        height: 40px;
        line-height: 40px;
        width: 100%;
        background-position: 10px center;
        background-size: 18px;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        float: left;
        padding-left: 33px;
        /*line-height: 7vh;*/
        /*background-color: #e9f0f5;*/
    }
    .content {
        /* top: 110px;
        background-image: url(../img/home_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100% - 159px);*/
        top: 102px;
        background-image: url(../img/home_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 150px);
        .top_tabs {
            padding-top: 20px;
            width: 80%;
            position: relative;
            text-align: center;
            /*transform: translate(-50%, -50%);*/
            /*top: 5%;*/
            /*left: 50%;*/
            margin: auto;
            .events_tabs {
                width: 100%;
                /*height: 5vh;*/
                height: 30px;
                text-align: center;
                border-radius: 10px;
                li {
                    position: relative;
                    float: left;
                    width: 33.3%;
                    font-size: 11px;
                    height: 100%;
                    border: 1px solid #fff;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    line-height: 2.5;
                    &.active_tab {
                        color: #111;
                        background-color: #fff;
                    }
                    &.deactive_tab {
                        color: #fff;
                    }
                    &:nth-child(2) {
                        border-radius: 0;
                    }
                    &:nth-child(3) {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }
            }
        }
        .empty-div {
            position: absolute;
            /* top: 14%; */
            text-align: center;
            padding-top: 10px;
            /* left: 50%; */
            /* transform: translate(-50%, -50%); */
            .fig-crown {
                width: 100px;
                height: 100px;
                margin: auto;
                position: relative;
                .without-border {
                    width: 100%;
                }
            }
            .fig-userProfile {
                width: 100px;
                height: 100px;
                margin-top: -59px !important;
                margin: auto;
                display: block;
                .with-border {
                    width: 100%;
                    border-radius: 50%;
                    border: 1px solid gray;
                }
            }
            .sentence-shake {
                font-size: 36px;
                font-weight: bold;
                width: 90%;
                text-align: center;
                position: relative;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .fig-shake {
                width: 75%;
                height: 100px;
                padding-top: 10px;
                margin: auto;
                .btn-shake {
                    width: 100%;
                }
            }
        }
        .challenges-div {
            text-align: center;
            /*padding-top: 40px;*/
            .challenges-ul {
                .challenges-li {
                    width: 100%;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    padding: 10px 0;
                    padding-bottom: 20px;
                    .left_div {
                        width: 32.5%;
                        display: inline-block;
                        /*padding: 10px 10px;*/
                        vertical-align: middle;
                        .challenges-fig {
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            vertical-align: middle;
                            .challenges-img {
                                width: 100%;
                                height: auto;
                                border-radius: 50%;
                            }
                        }
                        .name_rank {
                            margin: 0;
                            font-size: 12px;
                            font-weight: bold;
                        }
                        .name_rank1 {
                            margin: 0;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                    .middle_div {
                        width: 32.5%;
                        display: inline-block;
                        /*padding: 10px 10px;*/
                        vertical-align: middle;
                        .challenges-img1 {
                            width: 40px;
                            height: 40px;
                            padding-left: 10px;
                        }
                        .p_color {
                            color: #fff;
                            margin: 0;
                            padding-left: 10px;
                        }
                        .share {
                            height: 27px;
                            width: 35vw;
                            vertical-align: middle;
                            display: block;
                        }
                    }
                    .right_div {
                        width: 32.5%;
                        display: inline-block;
                        /*padding: 10px 10px;*/
                        vertical-align: middle;
                        .challenges_fig {
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            .challenges-img {
                                width: 100%;
                                height: auto;
                                border-radius: 50%;
                            }
                        }
                        .name_rank {
                            margin: 0;
                            font-size: 12px;
                            font-weight: bold;
                        }
                        .name_rank1 {
                            margin: 0;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .empty_msg {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                padding-top: 150px;
                color: white;
            }
        }
    }
    .invite_friend {
        position: relative;
        bottom: 0;
        left: 30%;
        width: 40%;
        height: 9%;
        border-radius: 10px;
        background-color: #2e2354;
        color: #fff;
        border: none;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .add_button {
        height: 50px;
        width: 50px;
        bottom: 60px;
        right: 5px;
        position: absolute;
        display: block;
        background-position: center;
        background-size: contain;
        background-image: url(../img/shake_icon.png);
        background-repeat: no-repeat;
    }
}

.notifications {
    /*background: #2b69a1;*/
    .content {
        top: 60px;
        background-image: url(../img/back_noti.png);
        background-size: cover;
        background-repeat: no-repeat;
        ul {
            text-align: right;
            .list_notification {
                height: 14vw;
                padding-top: 2vw;
                overflow: hidden;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                padding-bottom: 14vw;
                .notify {
                    width: 100%;
                    float: right;
                    padding-right: 10px;
                    text-align: left;
                    padding-left: 15px;
                    .fillcircle {
                        height: 12vw;
                        width: 12vw;
                        background-image: url(../img/user.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: inline-block;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        float: left;
                        vertical-align: middle;
                    }
                    .name_notify {
                        vertical-align: middle;
                        margin: 0;
                        /*font-size: 10px;*/
                        font-size: 11px;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        width: calc(100% - 12vw);
                        float: left;
                        line-height: 3.5;
                        padding-left: 5px;
                        display: -webkit-inline-box;
                        span {
                            margin: 0px;
                            font-weight: bold;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .empty_msg {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            padding-top: 150px;
            color: white;
        }
    }
}

.create_event {
    .search {
        /*height: 10vh;*/
        height: 40px;
        width: 100%;
        background-position: 10px center;
        background-size: 18px;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        float: left;
        padding-left: 33px;
        line-height: 40px;
    }
    .content {
        /*top: 20vh;*/
        top: 100px;
        background-image: url(../img/home_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 100px);
        ul {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            &.result_search {
                overflow-y: scroll;
                /*overflow: hidden;*/
                /*height: calc(100vh - 77vh);*/
                /*height: calc(100% - 380px);*/
                height: 140px;
                padding: 10px 15px;
            }
            li {
                /*padding: 4vw 3vw;*/
                /*overflow: hidden;*/
                /*height: 19vw;*/
                height: 70px;
                /*margin: 4vw 3vw;*/
                .m_profile {
                    height: 14vw;
                    width: 14vw;
                    background-position: center;
                    background-size: cover;
                    background-image: url(../img/user.png);
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    vertical-align: middle;
                    float: left;
                }
                p {
                    font-size: 5vw;
                    vertical-align: middle;
                    margin: 0;
                    float: left;
                    padding: 4vw 6vw;
                }
                .check {
                    height: 7vw;
                    width: 7vw;
                    background-position: center;
                    background-size: cover;
                    background-image: url(../img/check.png);
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    vertical-align: middle;
                    float: right;
                    margin-right: 2vw;
                    margin-top: 3vw;
                }
                .uncheck {
                    @extend .check;
                    background-image: url(../img/check1.png);
                }
            }
            .empty_search {
                text-align: center;
                width: 80%;
                padding-left: 15%;
                padding-top: 10%;
            }
        }
        .bet_frm {
            padding: 10px 10px;
            /* padding: 10px 30px; */
            margin-left: 15px;
            margin-right: 10px;
            height: calc(100% - 135px);
            ul {
                border-bottom: none;
                li {
                    font-size: 15px;
                    font-weight: bold;
                    .input_field {
                        width: 99%;
                        border-radius: 6px;
                        background-color: #1ab1d9;
                        padding-left: 10px;
                    }
                    .input_field1 {
                        background-color: #1ab1d9;
                        width: 99%;
                        border-radius: 6px;
                        padding-left: 10px;
                        height: 40px;
                        background-position: 5px center;
                        background-size: 8vw;
                        background-image: url(../img/user.png);
                        background-repeat: no-repeat;
                        float: left;
                        padding-left: 50px;
                        line-height: 40px;
                    }
                    #calendar_field {
                        padding-top: 2.5vw;
                        background-position: 97% 6px;
                        background-size: 6vw;
                        background-image: url(../img/calender.png);
                        background-repeat: no-repeat;
                        vertical-align: middle;
                    }
                    #calendar_field::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        display: none;
                    }
                    #calendar_field::-webkit-calendar-picker-indicator {
                        -webkit-appearance: none;
                        display: none;
                    }
                    input[type="radio"],
                    input[type="checkbox"] {
                        height: 20px;
                        width: 20px;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &.option_li {
                        img {
                            display: inline-block;
                            height: 10px;
                            width: 10px;
                        }
                        ul {
                            li {
                                font-weight: normal;
                                /*padding: 10px 20px;*/
                                span {
                                    padding-top: 0px;
                                    background-position: left;
                                    background-size: 5vw;
                                    background-repeat: no-repeat;
                                    background-image: url(../img/check1.png);
                                    vertical-align: middle;
                                    /* padding-left: 20px; */
                                    /* padding-right: 5px; */
                                    padding-left: 6vw;
                                    padding-right: 3vw;
                                    vertical-align: middle;
                                    &.active_btn {
                                        background-image: url(../img/circle.png);
                                    }
                                    &.deactive_btn {
                                        background-image: url(../img/check1.png);
                                    }
                                }
                            }
                        }
                    }
                    &.btn_li {
                        text-align: center;
                        img {
                            width: 80%;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.challenge {
    .content {
        top: 10vh;
        background-image: url(../img/back_noti.png);
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            text-align: center;
            font-size: 20px;
            padding-top: 40px;
        }
        .profile_div {
            position: relative;
            height: 100px;
            width: 100px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            figure {
                height: 100px;
                width: 100px;
                text-align: center;
                vertical-align: middle;
                .profile_img {
                    width: 100%;
                    height: auto;
                    display: block;
                    border-radius: 50%;
                }
                p {
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    margin: 0;
                    padding-top: 10px;
                }
            }
        }
        .detail {
            padding-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
            span {
                font-size: 15px;
                font-weight: bold;
            }
            p {
                font-size: 12px;
            }
            &.date {
                padding-top: 0px;
                background-position: left;
                background-size: 3vh;
                background-image: url(../img/calender.png);
                background-repeat: no-repeat;
                vertical-align: middle;
                padding-left: 20px;
                padding-right: 20px;
            }
            .detail-right {
                width: 100%;
                padding-bottom: 10px;
                .div_left {
                    width: 70%;
                    display: inline-block;
                    p {
                        padding-top: 0px;
                        background-position: left;
                        background-size: 3vh;
                        background-image: url(../img/calender.png);
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                }
                .div_right {
                    /*width: 25%;*/
                    display: inline-block;
                }
            }
        }
        .btn_div {
            text-align: center;
            img {
                height: 40px;
            }
        }
    }
}