<ion-view cache-view="false" class="challenge">
    <div class="home_header">
        <span class="leftarrow" ng-click="goBack()"></span>
        <span class="gift_logo">  </span>
    </div>
    <ion-content class="content" >
        <h1><b>YOU HAVE NEW CHALLENGE FROM</b></h1>
        <div class="profile_div" >
            <figure>
                <img src="{{notification_data.sender_picture}}" class="profile_img">
                <p>{{notification_data.sender_first_name}} {{notification_data.sender_last_name}}</p>
            </figure>
        </div>
        <div class="detail">
            <span>{{notification_data.sender_first_name}} Bet</span>
            <p>{{notification_data.sender_bet}} is going to win</p>
            <span>Your Bet</span>
            <p>{{notification_data.receiver_bet}} is going to win</p>
            <div class="detail-right">
                <div class="div_left">
                    <span>The bet will end at ?</span>
                    <p class="date">{{notification_data.end_date | date : "dd-MM-y" }}</p>
                </div>
                <div class="div_right">
                    <span>Privacy Type</span>
                    <p>{{notification_data.privacy_type}}</p>
                </div>
            </div>
            <div class="btn_div">
                <img src="img/accept.png" ng-click="showPopup()">
                <img src="img/reject.png" ng-click="reject_challenge()">
            </div>
        </div>
    </ion-content>
</ion-view>
