<ion-view cache-view="false" class="create_event">
    <div class="home_header">
        <span class="leftarrow" ng-click="goBack()"></span>
        <span class="gift_logo">  </span>
    </div>
    <input type="text" name="" class="search" ng-model="user.search" ng-change="textChanged()" placeholder="search" />
    <ion-content class="content" overflow-scroll="true">
        <ul class="result_search">
            <li ng-repeat="item in _search.data track by $index">
                <span class="m_profile" ng-style="{'background-image':'url({{item.picture}})'}"> 
                </span>
                <p> {{item.first_name}} </p>
                <!-- <p> Abu baker </p> -->
                <span ng-if="selected_receiver==item.id" class='check' ng-click="select_frnd(item)"></span>
                <span ng-if="selected_receiver!=item.id" class="uncheck" ng-click="select_frnd(item)"></span>
            </li>
            <!--<li ng-if="_search.data.length == 0" class="empty_search">Place your bet below and pick a friend to shake on it.</li>-->
            <li ng-if="_search.data.length == 0" class="empty_search">No user found against your search.</li>
        </ul>

        <div class="bet_frm">
            <ul class="bet_frm_ul">
                <li>
                    My Bet
                    <input type="text" name="" class="input_field" ng-model="obj.meBet" maxlength="40">
                    <!--  <input type="text" name="" class="input_field1" ng-style="{'background-image':'url({{getProfile}})'}" ng-model="obj.meBet"> -->
                </li>
                <li>
                    Friend's Bet
                    <input type="text" name="" class="input_field" ng-model="obj.frndBet" maxlength="40">
                </li>
                <li>
                    The Bet will end at?
                    <input type="date" name="" class="input_field" id="calendar_field" ng-model="obj.betDate">
                </li>
                <li class="option_li">
                    <img src="img/lock.png"> Privacy Type
                    <ul>
                        <li>
                            <span ng-click="privacy_type(1)" ng-class="current_btn==1?'active_btn':'deactive_btn'">  Invite Only 
                            </span>
                            <span ng-click="privacy_type(2)" ng-class="current_btn==2?'active_btn':'deactive_btn'"> All Friends </span>
                            <span ng-click="privacy_type(3)" ng-class="current_btn==3?'active_btn':'deactive_btn'"> Public </span>
                        </li>
                    </ul>
                </li>
                <li class="btn_li">
                    <!-- <img src="img/shake.png" ui-sref="challenge"> -->
                    <img src="img/shake.png" ng-click="showPopup()">
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>