<ion-view class="more-options">
    <div class="content">
        <ul>
            <li>
                <img ng-src="{{two_shakes}}" class="popup">
                <img src="img/btn_skip.png" class="skip_btn" ng-click="close_popup()">
            </li>
        </ul>
    </div>
</ion-view>