<ion-view cache-view="false" class="signin">
    <ion-content class="content" scroll="false">
        <!-- <img id="logo" src="img/logo.png" />
        <p id="app_name">Shake n Shake</p> -->
        <div class="login_box">
            <figure>
                <!-- <img src="img/btn_fb_signin.png" ui-sref="home"> -->
                <img src="img/btn_fb_signin.png" ng-click="fbLogin()">
            </figure>
        </div>
    </ion-content>
</ion-view>
