<div class="google-place-block">
    <input class="form-control input-xs" placeholder="{{ placeholder }}" type="text" id="{{ id }}" autocomplete="off" ng-model="searchQuery">
    <div id="google-place-map"></div>
    <div class="google-place-dropdown" ng-if="dropDownActive">
        <ion-list>
            <ion-item collection-repeat="location in locations" ng-click="selectLocation(location)">
                {{location.description}}
            </ion-item>
        </ion-list>
    </div>
</div>
