<p ng-if="caption" class="preload-caption">{{ caption }}</p>
<div class="preload-media {{ helper }}" ng-class="{ 'loaded': completed }">
    <ion-spinner ng-show="!completed"></ion-spinner>
    <ng-transclude></ng-transclude>
</div>
