<ion-view cache-view="false" class="home">
    <div class="home_header">
        <span class="home_menu" ng-click="showPopup()"></span>
        <span class="gift_logo">  </span>
        <span class="alert" ui-sref="notification">  </span>
    </div>
    <input type="text" name="" class="search" placeholder="search" />
    <ion-content class="content">
        <div class="top_tabs">
            <ul class="events_tabs">
                <li ng-click="current_tab(1)" ng-class="current_btn==1?'active_tab':'deactive_tab'">
                    ALL
                </li>
                <li ng-click="current_tab(2)" ng-class="current_btn==2?'active_tab':'deactive_tab'">
                    PENDING
                </li>
                <li ng-click="current_tab(3)" ng-class="current_btn==3?'active_tab':'deactive_tab'">
                    COMPLETED
                </li>
            </ul>
        </div>
        <div class="challenges-div" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()">
            <ul class="challenges-ul">
                <li class="challenges-li" ng-repeat="item in bet_data track by $index">
                    <div class="left_div">
                        <figure class="challenges-fig">
                            <img class="challenges-img" ng-src="{{item.sender_picture}}" />
                        </figure>
                        <p class="name_rank">{{item.sender_first_name}}{{item.sender_last_name}}</p>
                        <p class="name_rank1">{{item.sender_bet}}</p>
                    </div>
                    <div class="middle_div">
                        <img src="img/vs.png" class="challenges-img1">
                        <p class="p_color">{{item.privacy_type}} </p>
                        <p class="p_color"> <b>End in {{item.end_date}}days</b> </p>
                        <img src="img/share.png" ng-click="sharefb(item)" class="share">
                    </div>
                    <div class="right_div">
                        <figure class="challenges_fig">
                            <img ng-src="{{item.receiver_picture}}" class="challenges-img">
                        </figure>
                        <p class="name_rank"> {{item.receiver_first_name}}{{item.receiver_last_name}} </p>
                        <p class="name_rank1"> {{item.receiver_bet}} </p>
                    </div>
                </li>
            </ul>
            <p ng-if="bet_data.length==0 && ( events.filter != 'activity' || current_btn != 1 ) && no_bet_check" class="empty_msg">No bets yet...</p>

            <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="1%">
            </ion-infinite-scroll>
        </div>
        <div ng-if="no_bet_check && bet_data.length==0 && events.filter=='activity' && current_btn==1 " class="empty-div">
            <figure class="fig-crown">
                <img src="img/crown.png" class="without-border">
            </figure>
            <figure class="fig-userProfile">
                <img ng-src="{{profileImge}}" class="with-border">
            </figure>
            <h1 class="sentence-shake">No bets yet...</h1>
            <figure class="fig-shake">
                <img src="img/shake.png" class="btn-shake" ui-sref="createEvent">
            </figure>
        </div>
        <button ng-if="events.filter=='friends' && current_btn==1 && app_invite_btn" class="invite_friend" ng-click="invite()"> App Invite </button>
    </ion-content>
    <span class="add_button" ui-sref="createEvent"></span>
    <ul class="footer_tab">
        <li ng-class="{'active_tab_footer':events.filter=='activity'}" ng-click="filter('activity')">
            <img src="img/activity.png" class="footer-img"> MY ACTIVITY
        </li>
        <li ng-class="{'active_tab_footer':events.filter=='friends'}" ng-click="filter('friends')">
            <img src="img/friends.png" class="footer-img"> FRIENDS
        </li>
        <li ng-class="{'active_tab_footer':events.filter=='public'}" ng-click="filter('public')">
            <img src="img/public.png" class="footer-img"> PUBLIC
        </li>
    </ul>
</ion-view>