<ion-view class="more-options_logOut">
    <div class="content">
        <img src="img/close.png" class="cross" ng-click="close_popup()">
        <ul>
            <li ng-click="logOut()"> 
                <!-- <img src="img/bar.png" >
                <p> Log Out </p> -->
                <button class="button button-full button-positive"> Log Out </button>
            </li>
        </ul>
    </div>
</ion-view>
