<ion-view cache-view="false" class="notifications">
    <div class="home_header">
        <span class="leftarrow" ng-click="goBack()"></span>
        <span class="gift_logo">  </span>
    </div>
    <ion-content class="content">
        <ul>
            <li class="list_notification" ng-click="challenge_screen(item)" ng-repeat="item in notify_data track by $index">
                <div class="notify">
                    <!-- <span class="fillcircle" ></span> -->
                    <span class="fillcircle" ng-style="{'background-image':'url({{item.sender_picture}})'}"></span>
                    <p class="name_notify"> You have received a new challenge from
                        <span> {{item.sender_first_name }} {{ item.sender_last_name }} </span> </p>
                </div>
            </li>
        </ul>
        <p ng-show="no_notifications" class="empty_msg">There's no notification here...</p>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>